:root{
    --div-color-corprincipal: red;
}

#photoperfil1,#photoperfil2, #photoperfil3, #photoperfil4,
#photoperfil5, #photoperfil6{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;  
}

#photoperfil1:hover,#photoperfil2:hover, #photoperfil3:hover, #photoperfil4:hover,
#photoperfil5:hover, #photoperfil6:hover{
    transform: scale(1.2);  
}

#photoperfil1::before,#photoperfil2::before,#photoperfil3::before,
#photoperfil4::before,#photoperfil5::before,#photoperfil6::before{
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 50%;
    background:linear-gradient(90deg, transparent, transparent 40%, var(--div-color-corprincipal));
    animation: animate 2s linear infinite;
}

#photoperfil1::after,#photoperfil2::after,#photoperfil3::after,
#photoperfil4::after,#photoperfil5::after,#photoperfil6::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background:linear-gradient(90deg, transparent, transparent 40%, var(--div-color-corprincipal));
    border-radius: 50%;
    filter: blur(30px);
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


#img1,#img2, #img3, #img4, #img5, #img6{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

 #filebutton1,#filebutton2, #filebutton3,#filebutton4,
#filebutton5, #filebutton6{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 999;
}

#input1, #input2, #input3, #input4, #input5, #input6{
    display: none;
}




#perfilboard6{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black; 
    position: absolute;
    transform: scale(0.5);
    top: -20px;
    left: -135px;
}

#perfilboard5{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black; 
    position: absolute;
    transform: scale(0.5);
    top: 70px;
    left: 45px;
}

#perfilboard4{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black; 
    position: absolute;
    transform: scale(0.5);
    top: 0px;
    left: 90px;
}

#perfilboard3{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black; 
    position: absolute;
    transform: scale(0.5);
    top: 80px;
    left: -50px;
}


#perfilboard2{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black; 
    position: absolute;
    transform: scale(0.5);
    top: -120px;
    left: 45px;
}

#perfilboard1{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black; 
    position: absolute;
    transform: scale(0.5);
    top: -120px;
    left: -20px;
}



#imgbd1,#imgbd2, #imgbd3, #imgbd4, #imgbd5, #imgbd6{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

 #filebuttonpb1,#filebuttonpb2, #filebuttonpb3,#filebuttonpb4,
#filebuttonpb5, #filebuttonpb6{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 999;
}

#inputpb1, #inputpb2, #inputpb3, #inputpb4, #inputpb5, #inputpb6{
    display: none;
}