@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


#button1, #button2{
    height: 60px;
    width: 100px;
    background-color: rgb(64,56,67);
    color: rgb(228,206,152);
    font-family: "Righteous";
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#button1:hover, #button2:hover{
    height: 60px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Righteous";
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#buttonstart{
    height: 80px;
    width: 80%;
    font-size: 40px;
    background-color: rgb(64,56,67);
    color: rgb(228,206,152);
    font-family: "Righteous";
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#buttonstart:hover{
    height: 80px;
    width: 80%;
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Righteous";
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
